notificationsdemo/src/main/mule/notificationsdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a1692d9-a63d-4b60-a08c-7b124b9723c1" basePath="email" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="392142e3-adda-4cf6-a2ef-844aa79c6ef4" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="mule4java@gmail.com" password="May#1987" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="notificationsdemoFlow" doc:id="992209f2-2bb2-4663-b410-f4a40bc5875f" >
		<http:listener doc:name="Listener" doc:id="049d6edc-c59b-47b8-a75c-286d5c859782" config-ref="HTTP_Listener_config" path="send"/>
		<email:send doc:id="c3eb4ea8-f05d-4247-867f-328b63b88bf8" config-ref="Email_SMTP" fromAddress="mule4java@gmail.com" subject="Notification email from Mule">
			<email:to-addresses >
				<email:to-address value="sriyouthsena111@gmail.com" />
				<email:to-address value="kondetimanishreddy@gmail.com" />
			</email:to-addresses>
			<email:body contentType="text/plain">
				<email:content ><![CDATA[#['Notification email from Mule' ++ attributes.queryParams.name default "Test"]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	"mule_training.txt":"this smaple message from mule training"
}]]]></email:attachments>
		</email:send>
		<set-payload value="#['email sent success!']" doc:name="Set Payload" doc:id="3a30dd89-6709-406b-9350-5829b8dade3c" />
	</flow>
</mule>
