vmdemo/src/main/mule/vmsubscroberdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="21fb8c4f-015f-4f86-a5b9-38aa2fc7a5a2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch41" />
	</db:config>
	<flow name="vmsubscroberdemoFlow" doc:id="802e4f78-d4eb-4130-9db9-24d4a3cfd7e5" >
		<http:listener doc:name="Listener" doc:id="a29b766b-0179-4c5c-bad7-7ef14060a35b" config-ref="HTTP_Listener_config" path="sub"/>
		<vm:consume doc:name="Consume" doc:id="dcb6c934-7881-46ef-8cce-5e066a209a4e" config-ref="VM_Config" queueName="q1"/>
		<db:insert doc:id="ffa0f61b-6fa0-4d78-b023-e6eb09f78449" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employee(name,email,gender,phone)values(:name,:email,:gender,:phone)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:payload.name,
	email:payload.email,
	gender:payload.gender,
	phone:payload.phone
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="5b3e7e9d-2d4d-4b0b-9e7a-51d9a2a250fa" message="data inserted in to DB from Q1 demo1234"/>
	</flow>
</mule>
