errorhandling/src/main/mule/empdatareadwitherrors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="empdatareadwitherrorsFlow" doc:id="df2440d8-c8e3-46d5-9297-f6d870d4b260" >
		<http:listener doc:name="Listener" doc:id="5201ff90-7f66-44a3-ae70-ad12754f785a" config-ref="HTTP_Listener_config" path="emp"/>
		<db:select doc:name="Select" doc:id="fdc34f66-67be-4746-aee7-77b415f1eacb" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b26a2840-801f-40f6-980e-93704a39f3ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="24cadd66-2394-4a47-9fa1-310e0c7f039e" config-ref="File_Config" path="empdata.json"/>
		<error-handler ref="global_exceptions" />
	</flow>
	<error-handler name="global_exceptions" doc:id="5767d68d-93f6-4005-9187-c0a481128a27" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6e70c27e-0d60-4436-be86-a9ba2afb2ac3" type="DB:BAD_SQL_SYNTAX">
			<set-payload value="#['error continue']" doc:name="Set Payload" doc:id="9fa5e683-8c46-41ab-bfb8-3bb1ddc7044d" />
		</on-error-continue>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b1ff8b32-e8f1-47fc-bb92-759a0ff30916" type="DB:CONNECTIVITY">
			<set-payload value="#['error propagate']" doc:name="Set Payload" doc:id="3915bb0d-60a8-4212-9eff-1611df1e8bab" />
		</on-error-propagate>
	</error-handler>
</mule>
