scopesdemo/src/main/mule/scopesdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="9c500c92-23e4-4f8c-af89-a532bd55ad19" >
		<file:connection workingDir="C:\Users\LENOVO\Desktop\attach" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3546f3e9-4a92-424c-99b7-b96eddf7a4e2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch41" />
	</db:config>
	<flow name="scopesdemoFlow" doc:id="a80c2d5a-0562-4374-a3d4-cde6ee04e0ee" >
		<file:listener doc:id="128ad16c-0a63-4251-9f59-6d0e67e89411" doc:name="csv-stagninglocation" config-ref="File_Config" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="7eca9b70-0ebc-4a7b-82ef-2f53a9aff391" message="payload outside foro each #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="acec8531-0d79-4ee8-872d-6eb063a7ff0e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="d80cf78a-229a-47f0-ad3a-f4faf661f18f" >
			<logger level="INFO" doc:name="Logger" doc:id="7ce87b48-61e9-4d18-bdb2-be64865cdc6f" message="inside for each #[payload]"/>
			<db:insert doc:id="4d7d8d3d-7927-48d9-8d6c-017d8f5034ab" config-ref="Database_Config">
				<db:sql ><![CDATA[insert into person(name,phone,mail,gender)values(:name,:phone,:email,:gender)]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	"name":payload.name,
	"email":payload.email,
	"phone":payload.phonenumber,
	"gender":payload.gender
	
}]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="bce3f08e-655c-4e86-81e8-c9c2b573ce56" message="data inserted successfully!"/>
	</flow>
</mule>
