helloworld/src/main/mule/sendattachment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config1" doc:name="File Config" doc:id="bf4e1d8c-9a35-4c32-91cd-4a6d6b17c1d9" >
		<file:connection workingDir="C:\Users\LENOVO\Desktop\downloads" />
	</file:config>
	<flow name="sendattachmentFlow" doc:id="bf5e9d5e-c71a-4289-9eb8-676b366f7114" >
		<http:listener doc:name="Listener" doc:id="e2eb2420-d45e-4ee4-bd28-b3d47245d277" config-ref="HTTP_Listener_config" path="attach" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="3631f397-b140-4e87-9d36-9fe46a8fc08f" message="#[attributes.headers]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c5fef2d0-d65c-4107-97d3-a5f3a37b3980" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="a7a8b6f5-e578-40af-b961-3f8c6107f138" config-ref="File_Config1" path="#[attributes.headers.filename]">
		</file:write>
		<set-payload value="#['uploaded file']" doc:name="Set Payload" doc:id="e7a1fbd3-f5d2-4b9d-a7be-346b34b892e5" />
	</flow>
</mule>
