dbdemo/src/main/mule/dbdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9d44476-d284-4972-a84b-6acec632de58" basePath="db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bf0b566f-afe5-42b1-a52a-398b35e5591c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="batch41" />
	</db:config>
	<flow name="dbdemoFlow" doc:id="7a63a315-9681-447a-ae46-4314a09863d8" >
		<http:listener doc:name="Listener" doc:id="ee141890-97d4-437b-895f-b05cecf4727c" config-ref="HTTP_Listener_config" path="allemployees">
			<http:response reasonPhrase="selected data" />
		</http:listener>
		<db:select doc:id="4e971ccb-e018-43bd-bce3-e527990b12f4" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee where name=:name]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name:attributes.queryParams.name
	
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="cafe7ef9-9ee0-4898-961d-0c4de209e6f7" message="after data read from databse #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d6974a9a-ac2f-4d88-b6e9-07b8f8eaba3d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
