dbdemo/src/main/mule/tran.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="tranFlow" doc:id="cbfb4142-f8d8-4c57-b9bb-e43dfab5fe51" >
		<http:listener doc:name="Listener" doc:id="6dfbb2ee-a579-4349-b2f7-83a7bb5a3d56" config-ref="HTTP_Listener_config" path="trn"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="47bd95bd-ea73-4c5f-b121-fd074eccf4fb" config-ref="Database_Config" transactionalAction="NOT_SUPPORTED">
				<db:sql><![CDATA[insert into person(name,phone,mail,gender)values(:name,:phone,:email,:gender);]]></db:sql>
			</db:bulk-insert>
		<set-payload value="#['data inserted!']" doc:name="Set Payload" doc:id="30ef311f-6ed0-4aca-9aa1-d2c5ad19f981" />
	</flow>
</mule>
